@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Merriweather';
}

h3,
p {
    font-family: 'Montserrat';
}

.hero {
    /* background-color: rgba(255, 166, 0, 0.297); */
    padding: 0 200px;
}

.landing {
    background-image: url("img/bg.jpg");
    background-position: center;
    background-size: contain;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.693);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: auto; */
    height: 90vh;
    margin: auto;
}

.landing p {
    font-family: 'Merriweather';
}

.logo {
    /* background-color: rgba(0, 128, 128, 0.287); */
    /* height: 5%; */
    padding-top: 10px;
    /* width: auto; */
    display: flex;
    align-items: center;
    color: rgb(255, 224, 249);
    font-size: 26px;
    font-family: 'Merriweather';
}

.landing-text {
    background-color: rgba(128, 128, 0, 0);
    height: 80%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: 'Merriweather';
}

.landing-btn {
    background-color: pink;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    text-align: center;
    /* max-width: 350px; */
    padding: 15px 60px;
}

.landing-btn a {
    text-decoration: none;
    color: black;
}

.page-2 {
    min-height: 50vh;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-image: url("img/nordwood-themes-bJjsKbToY34-unsplash.jpg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.page-2 .page-text {
    background-color: white;
    width: 50%;
    height: auto;
    padding: 40px 40px 40px 0px;
}

.page-2 .page-text h3 {
    color: darkred;
    font-weight: 400;
    padding-bottom: 10px;
}

.page-2 .page-text h1 {
    font-size: 50px;
    font-family: 'Merriweather';
    padding-bottom: 10px;
}

.page-2 .page-text p {
    font-size: 20px;
}

.page-2 .page-text button {
    margin-top: 15px;
    width: 300px;
    padding: 10px;
}

.page-3 {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 60vh;
    background-color: rgb(241, 239, 239);
    /* background-color: rgba(184, 135, 11, 0.47); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-3 .page-text {
    width: 85%;
}

.page-3 .page-text h1 {
    font-size: 50px;
    font-family: 'Merriweather';
    padding-bottom: 10px;
}

.page-3 .page-text p {
    padding-bottom: 25px;
    font-size: 22px;
}

.page-3 .growth {
    /* background-color: orange; */
    display: flex;
    column-gap: 20px;

}

.page-3 .growth .box {
    display: flex;
}

.page-3 .growth .box .box-text {
    text-align: center;
    background-color: rgb(163, 68, 84);
    padding: 60px 20px;
    color: white;
}

.page-4 {
    min-height: 40vh;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    /* background-color: rgba(198, 182, 143, 0.47); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-4 .page-text {
    width: 80%;
}

.page-4 .page-text h3 {
    color: darkred;
    font-weight: 400;
}

.page-4 .page-text h1 {
    font-size: 50px;
    font-family: 'Merriweather';
    padding-top: 10px;
}

.page-4 .page-text p {
    padding-top: 10px;
    font-size: 22px;
}

.page-5 {
    min-height: 35vh;
    background-color: rgb(205, 192, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/nordwood-themes-bJjsKbToY34-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}

.page-5 .type {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    /* background-color: indianred; */
}

.page-5 .type .box {
    display: flex;
    vertical-align: top;
    /* background-color: darkolivegreen; */

}

.page-5 .type .box .box-text {
    /* text-align: center; */
    /* background-color: cadetblue; */
    padding: 60px 20px;
    color: black;
    vertical-align: top;
}

.page-5 button {
    background-color: orange;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.page-6 {
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.426);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-image: url("img/nordwood-themes-bJjsKbToY34-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;
}

.page-6 .page-text {
    /* background-color: orange; */
    max-width: 800px;
}

.page-6 h3 {
    color: darkred;
    font-weight: 400;
}

.page-7 {
    min-height: 60vh;
    background-color: rgb(247, 244, 243);
}

.page-7 .workers {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    padding: 60px 0 60px 0;
}

.page-7 .workers .worker {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    /* gap: 50px; */
    margin: 20px 0;
    background-color: rgb(255, 255, 255);

}

.page-7 .workers .worker .worker-img {
    display: flex;
    align-items: center;
    /* width: 500px;
    height: 300px;
    background-color: orange;
    width: 300px; */
}

.page-7 h3 {
    color: darkred;
    font-weight: 400;
}

.page-7 p {
    padding-top: 5px;
    padding-bottom: 10px;
}

.worker-img img {
    width: 200px;
    height: auto;
    /* width: 100%; */
    padding-right: 20px;
}

.page-8 {
    min-height: 30vh;
    background-color: rgb(169, 81, 95);
    text-align: center;
}

.page-8 .page-text {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    color: white;
    text-align: center;
    font-family: 'Merriweather';
}

.page-8 .page-text h1 {
    font-size: 50px;
}

.page-8 .page-text button {
    margin-top: 25px;
    padding: 10px 50px;
}

.footer {
    background-color: white;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}




@media (max-width:1000px) {

    .page-2 .page-text {
        /* background-color: rgb(152, 113, 113); */
        width: 80%;
        height: auto;
        padding: 40px 40px 40px 40px;
    }
}

@media (max-width: 992px) {
    .hero {
        padding: 25px 75px;
    }

    .page-7 .workers .worker {
        margin: 20px 0;
    }

    .page-7 .workers .worker .page-text {
        padding-right: 20px;
    }

}

@media (max-width:868px) {
    .page-2 {
        min-height: 50vh;
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("img/nordwood-themes-bJjsKbToY34-unsplash.jpg");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: white;
    }

    .page-2 .page-text {
        width: 100vw;
        margin-top: 20px;
        margin-bottom: 20px;
        /* background-color: orange; */
    }
}

@media (max-width: 768px) {
    .page-3 {
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 60vh;
        background-color: rgb(241, 239, 239);
        /* background-color: rgba(184, 135, 11, 0.47); */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page-3 .page-text {
        width: 85%;
    }

    .page-3 .page-text h1 {
        font-size: 50px;
        font-family: 'Merriweather';
        padding-bottom: 10px;
    }

    .page-3 .page-text p {
        padding-bottom: 25px;
        font-size: 22px;
    }

    .page-3 .growth {
        /* background-color: orange; */
        display: flex;
        column-gap: 20px;
        flex-direction: column;

    }

    .page-3 .growth .box {
        display: flex;
    }

    .page-3 .growth .box .box-text {
        text-align: center;
        background-color: rgb(163, 68, 84);
        padding: 60px 20px;
        color: white;
    }

    .page-5 {
        min-height: 35vh;
        background-color: rgb(205, 192, 192);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page-5 .type {
        background-color: orange;
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        /* background-color: indianred; */
    }

    .page-5 .type .box {
        background-color: red;
        display: flex;
    }

    .page-5 .type .box .box-text {
        /* text-align: center; */
        background-color: cadetblue;
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .page-5 button {
        background-color: orange;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 300px;
        padding: 10px;
        border: none;
        border-radius: 10px;
    }

    .page-7 .workers {
        /* background-color: orange; */
        display: flex;
        flex-direction: column;
        padding: 60px 0 60px 0;
    }

    .page-7 .workers .worker {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        text-align: center;

    }

    .page-7 .workers .worker .worker-img {
        padding-top: 20px;
    }

    .page-7 .workers .worker .page-text {
        padding: 20px 10px;
    }

}

@media (max-width: 576px) {
    .hero {
        padding: 25px 10px;
    }
}























/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    .landing-text {
        font-size: 28px;
    }
}

@media screen and (max-width: 380px) {
    .landing-text {
        font-size: 24px;
    }


}